<template>
  <div class="wrapper">
    <div class="row">
      <h2 class="page-header col-10">
        <i class="fa fa-user" aria-hidden="true"></i>
        {{identity.name}}
        <i class="fa fa-mars" aria-hidden="true" v-if="identity.gender=='male'"></i>
        <i class="fa fa-venus" aria-hidden="true" v-else-if="identity.gender=='female'"></i>
      </h2>
      <router-link :to="{ name: 'list' }" class="btn btn-default btn-outline-secondary col-2"><i class="fa fa-home"></i> Назад</router-link>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th class="v-identity-info__th">Рост</th>
          <td class="v-identity-info__td">{{identity.height}} <i class="text-muted">кг</i></td>
        </tr>
        <tr>
          <th class="v-identity-info__th">Вес</th>
          <td class="v-identity-info__td">{{identity.mass}} <i class="text-muted">см</i></td>
        </tr>
        <tr>
          <th class="v-identity-info__th">Цвет волос</th>
          <td class="v-identity-info__td">{{identity.hair_color}}</td>
        </tr>
        <tr>
          <th class="v-identity-info__th">Цвет кожи</th>
          <td class="v-identity-info__td">{{identity.skin_color}}</td>
        </tr>
        <tr>
          <th class="v-identity-info__th">Цвет глаз</th>
          <td class="v-identity-info__td">{{identity.eye_color}}</td>
        </tr>
        <tr>
          <th class="v-identity-info__th">Год рождения</th>
          <td class="v-identity-info__td">{{identity.birth_year}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios'
import "bootstrap/dist/css/bootstrap.min.css"
import "bootstrap-vue/dist/bootstrap-vue.css"

export default {
  name: 'v-identity-info',
  props: {
    name: {
      type: String,
    }
  },
  watch: {
    '$route.params.name'() {
       this.loadContent();
    },
  },
  data() {
    return {
      identity: {},
    }
  },
  methods: {
    loadContent() {
      axios
        .get('https://swapi.dev/api/people/?search='+encodeURI(this.name))
        .then(response => {
          let identity = response.data.results[0];
          
          this.identity = identity;
          
          this.$store.commit('ADD_VISITED_IDENTITY', identity.name);
          
          document.title = 'Информация о "' + identity.name + '"';
        });
    }
  },
  mounted() {
    this.loadContent();
  },
  created() {
    document.title = this.$route.meta.title;
  }
}
</script>

<style>
.v-identity-info__th {
  width: 20%;
}
.v-identity-info__td {
  width: 80%;
}
</style>
