<template>
  <div class="wrapper">
    
    <!-- SEARCH -->
    <div class="v-identity-list__search">
      <label for="search-identity"><i class="fa fa-address-book" aria-hidden="true"></i> Поиск пользователей по имени</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="search-identity-descr">Имя</span>
        </div>
        <input type="text" class="form-control" id="search-identity" aria-describedby="search-identity-descr" v-model="filter_name">
        <button name="button" class="btn btn-info ml-2" @click="search()"><i class="fa fa-search" aria-hidden="true"/> Найти</button>
      </div>
    </div>
    
    <!-- SEARCH RESULTS -->
    <div class="v-identity-list__results mt-3" v-if="search_count">
      <table class="ml-3">
        <tbody>
          <tr v-for="(p, i) in people" :key="'identity_'+(1000+i)" class="v-identity-list__identity-link">
            <td>
              <i class="fa fa-user" aria-hidden="true" v-if="i%2==0"></i>
              <i class="fa fa-user-o" aria-hidden="true" v-else></i>
            </td>
            <td>
              <router-link :to="{ name: 'identity', params: {name: p.name}}">{{p.name}}</router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="v-identity-list__results mt-3" v-else>
      <div class="row">
        <h6 class="col-9 text-muted">К сожалению, ничего не найдено по запросу "{{filter_name}}"</h6>
        <button class="col-3 btn btn-warning" @click="search();filter_name=''">Очистить запрос</button>
      </div>
    </div>
    
    <!-- PAGINATION -->
    <div class="v-identity-list__pagination mt-3" v-show="search_count">
      <div class="row">
        <nav aria-label="..." class="col-8">
          <ul class="pagination">
            <li :class="['page-item', {'disabled':!link_previous}]">
              <button class="page-link btn btn-link" @click="search(getURLParameter(link_previous, 'page'))">Предыдущая</button>
            </li>
            <li :class="['page-item', {'active':current_page==i}]" v-for="i in page_count" :key="'page_'+i">
              <button class="page-link btn btn-link" @click="search(i)">{{i}}</button>
            </li>
            <li :class="['page-item', {'disabled':!link_next}]">
              <button class="page-link btn btn-link" @click="search(getURLParameter(link_next, 'page'))">Следующая</button>
            </li>
          </ul>
        </nav>
        <div class="col-4">
          <span class="float-right" v-show="search_count">Страница {{current_page}} из {{page_count}}</span>
        </div>
      </div>
      <div>
        <span v-show="search_count">Найдено: {{search_count}}</span>
      </div>
    </div>
    
    <!-- HISTORY -->
    <div class="v-identity-list__history mt-3" v-show="visited_identities.length">
      <div>
        <h6 class="d-inline-block">История просмотров</h6>
        <button class="btn btn-warning d-inline-block ml-5" @click="clearHistory()"><i class="fa fa-trash"/> Очистить историю</button>
      </div>
      <table class="ml-3">
        <tbody>
          <tr v-for="(identity_name, i) in visited_identities" :key="'identity_'+(-1000-i)" class="v-identity-list__identity-link">
            <td width="20%">
              <i class="fa fa-user" aria-hidden="true" v-if="i%2==0"></i>
              <i class="fa fa-user-o" aria-hidden="true" v-else></i>
            </td>
            <td width="70%">
              <router-link :to="{ name: 'identity', params: {name: identity_name}}">{{identity_name}}</router-link>
            </td>
            <td width="10%"><button class="btn btn-default btn-outline-secondary" @click="clearHistory(identity_name)"><i class="fa fa-trash-o"/></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// import BootstrapVue from "bootstrap-vue"
import "bootstrap/dist/css/bootstrap.min.css"
import "bootstrap-vue/dist/bootstrap-vue.css"

export default {
  name: 'v-identity-info',
  data() {
    return {
      title: 'Список людей',
      people: [],
      filter_name: null,
      link_previous: null,
      link_next: null,
      search_count: null,
      current_page: 1,
      page_count: 1,
    };
  },
  computed: {
    visited_identities() {
      return this.$store.getters['VISITED_IDENTITIES'];
    }
  },
  watch: {
    filter_name(name) {
      if (name === '') this.search();
    }
  },
  mounted() {
    this.search();
  },
  methods: {
    search(page = null) {
      this.current_page = 1;
      
      let url = 'https://swapi.dev/api/people/?';
      
      if (this.filter_name) {
        url += '&search=' + encodeURI(this.filter_name);
      } 
      if (page != null) {
        url += '&page=' + page;
        
        this.current_page = page;
      }
      
      axios
        .get(url)
        .then(response => {
          this.people = response.data.results;
          this.link_previous = response.data.previous;
          this.link_next = response.data.next;
          this.search_count = response.data.count;
          
          this.page_count = Math.floor(this.search_count/10) + (this.search_count%10>0);
        });
    },
    clearHistory(name = null) {
      this.$store.commit('CLEAR_HISTORY', name);
    },
    getURLParameter(sUrl, sParam) {
      let sPageURL = sUrl.substring(sUrl.indexOf('?') + 1);
      let sURLVariables = sPageURL.split('&');
      for (let i = 0; i < sURLVariables.length; i++) {
        let sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) {
          return sParameterName[1];
        }
      }
    }
  },
  created() {
    document.title = this.$route.meta.title;
  }
}
</script>

<style>
@import "../assets/font-awesome-4.7.0/css/font-awesome.min.css";
li {list-style: none}
a:link {text-decoration: none;}
.page-link.btn-link {
  text-decoration: none;
}

.v-identity-list__search {
  border-bottom: 3.33px solid #333;
}
.v-identity-list__identity-link {
  font-size: 1.47em;
}

.v-identity-list__pagination {
  border-top: 3.33px solid #333;
  border-bottom: 3.33px solid #333;
  padding-top: 13px;
}

.v-identity-list__history {
  width: 100%;
  padding-top: 13px;
}

</style>
