<template>
  <div id="app">
    <keep-alive>
      <router-view></router-view>
    </keep-alive> 
  </div>
</template>

<script>

export default {
  name: 'App',
}
</script>

<style>
#app {
  margin-left: 33px;
  margin-right: 33px;
  padding: 20px;
  padding-left: 26px;
  padding-right: 26px;
  height: 100vh;
  background-color: #eee;
}

</style>
